<!--falta tratar o resultado do checkbox e select. 

Tbm falta colocar o formControlName-->

<div class="row">
    <div class="col-8 m-auto">
        <form [formGroup]="formGroupSupplier">
            <div class="mb-3">
                <label for="name" class="form-label">Nome: </label>
                <input type="text" class="form-control" id="name" placeholder="nome" formControlName="name">
              </div>


            <div class="row align-items-start">

                <div class="col">
                    <select class="form-select" aria-label="category">
                        <option selected disabled>Categoria</option>
                        <option value="1">Regional</option>
                        <option value="2">Nacional</option>
                        <option value="3">Internacional</option>
                      </select>
                    
                </div>

                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="Active">
                        <label class="form-check-label" for="Active">
                          Ativo
                        </label>
                      </div>
                </div>
              </div>

            <div class="mb-3">
                <label for="" class="form-label">Contato: </label>
                <input type="text" class="form-control" id="contact" placeholder=" 00 0000-0000">
              </div>
            <div class="mb-3 d-flex justify-content-end">
                <button type="button" class="btn btn-primary">Cadastrar</button>
            </div>
        </form>
    </div>
</div>


<table class="table container">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nome</th>
        <th scope="col">Ativo</th>
        <th scope="col">Categoria</th>
        <th scope="col">Contato</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let supplier of suppliers">
        <th scope="row">{{supplier.id}}</th>
        <td>{{supplier.name}}</td>
        <td>{{supplier.active}}</td>
        <td>{{supplier.category}}</td>
        <td>{{supplier.contact}}</td>
        <td>
            <button class="btn btn-primary me-1"> Excluir </button>
            <button class="btn btn-danger"> Editar </button>
          </td>
      </tr>
    </tbody>
</table>